<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body
		div
			form(action="/api/scraper", method="post")
				div 輸入公司名稱：
					input(type="text", name="companyName")
				button(type="submit") 取得截圖
